body {
  background-color: #ffffff;
  color: #db6363;
  text-align: center;
}

.grid {
}

header {
  background-color: #ffffff;
  color: #dc6363;
  padding-top: 10px;
}

.banner {
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 84px;
  font-weight: 300;
  letter-spacing: 3.7px;
  color: #ffffff;
}

img {
  max-width: 100%;
}

.about {
  background-color: #f0f0f0;
  padding-bottom: 20px;
}

.text {
  width: 50%;
  height: 100%;
  margin: auto;
  padding: auto;
  color: #2f2d2d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  padding-top: 30px;
}

.box {
  background-color: #2f2f2f;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.address {
}

.hours {
}

.call-us {
}

.marker {
  width: 51px;
  height: 82px;
}

.clock {
  width: 75px;
  height: 75px;
}

.phone {
  width: 98px;
  height: 79px;
}

.testimonial {
  margin: auto;
  padding: auto;
  background-color: #f0f0f0;
  color: #db6363;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3.7px;
  font-style: italic;
}

.one {
}

.two {
}

footer {
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

@media (max-width: 600px) {
  .grid {
  }

  header {
  }

  .banner {
    font-size: 20px;
    font-weight: 300;
    line-height: 2.75;
    letter-spacing: 1.9px;
  }

  .dog {
    width: 195px;
    height: 237px;
    padding-left: 50px;
  }

  .about {
  }

  .text {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 500;
  }

  .box {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .address {
  }

  .hours {
  }

  .call-us {
  }

  .marker {
    width: 25.5px;
    height: 40.4px;
  }

  .clock {
    width: 37.6px;
    height: 37.5px;
  }

  .phone {
    width: 49px;
    height: 39.5px;
  }

  .testimonial {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .one {
  }

  .two {
  }

  footer {
  }
}
